body{
    background-color: #0A1931;
}


#container{

    display: flex;
    height: 100vh;
}

#left{
    width: 60vw;
    height: 90vh;
    background-color: #E93B81;
    margin: 10px;
    border-top-right-radius: 50%;
    border-style: solid;
      border-style: groove;
      border-color: #1597bb;
      border-width: 7px;

}

#right{
    width: 40vw;
   height: 50vh;
  background-color: #1597bb;
  margin: 10px;
  border-style: solid;
    border-style: groove;
    border-color: #E93B81;
    border-width: 7px;
border-radius: 35px;
}

#input{
    height: 30vh;
    width: 30vw;
    padding: 20px;
    margin-top: 40px;
    margin-left: 45px;

    background-color: #8fd6e1;
    border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #0A1931;
}

#header{
    margin-left: 20px;
}

#btn{
    margin-left: 250px;
    background-color: #f4c7ab;
  font-size: 20px;
  transition-duration: 0.4s;

}
#btn:hover{
background-color: #E93B81;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


.text{
  text-align: right;
  margin-top: 200px;
  font-size: 35px;
  font-family: sans-serif;
}

hr{
  margin-right: 90px;
}

#header h1{
text-shadow: 0 0 3px white, 0 0 5px #0000FF;
}
